*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: whitesmoke;
}
.login
{
  width: 100vw;
  height: 100vh;
  background: url('/public/matrix.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login input:first-child
{
margin-top: 40vh;
}
.login input
{
  width: 50vw;
  height: 4vh;
  margin: 0.5vh;
  color: white;
  font-size: xx-large;
  text-align: center;
  max-width: 300px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login input::placeholder
{
  display: flex;
  font-size: medium;
}

.login button
{
  width: 20vw;
  height: 4vh;
  color: white;
  text-align: center;
  margin-top: 1vh;
  max-width: 120px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.cupom
{
  background: url('/public/fireww.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cupom img
{
  width: 90vw;
  margin-top: 30vh;
  max-width: 1200px;
}